process {

        beforeScript = "module purge"
        executor = "slurm"
        cpus = 12
        memory = "72G"
        time = "4h"

 // Process-specific resource requirements

  withLabel:process_high {
    cpus = 32
    clusterOptions= "--mem-per-cpu=10G"
    errorStrategy="finish"
  }

 withLabel:Make_Bed {
  memory = "400G"
  clusterOptions= "--partition=hmem"
  errorStrategy="finish"
  }

}

trace {
        raw = true
}

dag {
  enabled = false
}

params {
  publish_dir_mode = 'symlink'
  OW = true
}

